@charset "UTF-8";
/******************************************
*************** VARIABLES *****************
******************************************/
/******************************************
****** MOBILE VIEW (max-width: 768px) ***** → (Min 280px) XS
******************************************/
/******************************************
****** MOBILE VIEW (max-width: 768px) ***** → (Min 280px) XS
******************************************/
body {
  margin: 0;
  padding: 0;
  background-color: azure;
}

body main {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 0.5fr 0.5fr (2)[3fr];
      grid-template-rows: 0.5fr 0.5fr repeat(3fr, 2);
}

body main header {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  background-color: white;
  border-bottom: 0.25px silver solid;
}

body main header #logoImg {
  width: 25px;
  height: 25px;
}

body main header #searchImg {
  width: 20px;
  height: 20px;
  margin-top: 2.5px;
}

body main header input {
  border: 0px;
  padding-top: -25px;
  width: 68%;
}

body main header input:hover {
  outline: none;
}

body main header a {
  text-decoration: none;
  color: darkgray;
  margin-top: 5px;
  font-size: 15px;
}

body main nav {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  font-size: 9px;
  padding: 15px 2px;
  border-bottom: 1px solid silver;
}

body main nav a {
  margin-left: 5px;
  text-decoration: none;
  color: black;
}

body main nav .arrow {
  width: 10px;
  height: 10px;
}

body main section {
  width: 100%;
  background-color: white;
}

body main section .startSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  border-bottom: 1px solid silver;
  width: 100%;
  margin: 0;
}

body main section .startSection h2 {
  display: inline;
  width: 100%;
  font-size: 20px;
  font-weight: 100;
  margin-left: 15px;
}

body main section .startSection #close {
  width: 15px;
  height: 15px;
  padding-right: 15px;
}

body main section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 7.5px 7.5px;
  border-bottom: 1px solid silver;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section article .articleImg {
  margin-left: 15px;
  margin-right: 10px;
  width: 80px;
  height: 80px;
}

body main section article h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

body main section article p {
  margin: 0px 0px 2.5px 0px;
  font-size: 12.5px;
  color: gray;
}

body main section article .articleDiv {
  margin: 0;
  padding: 0;
}

body main section article .articleDiv #wrapperIcons {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main section article .articleDiv #wrapperIcons div {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid black;
  margin: 0px 10px 0px 0px;
  padding: 2px;
  font-size: 11px;
}

body main section article .articleDiv #wrapperIcons div img {
  width: 10px;
  height: 10px;
  margin-right: 3.5px;
}

body main section #showMore {
  text-align: center;
}

/********************************************************
* SMALL SCREEN (max-width: 961px) and (min-width: 767px)*   →  (Ipad)
********************************************************/
/***********************************************************
* Medium Screen (max-width: 1024px) and (min-width: 960px) *
************************************************************/
/***********************************************************
************* Large Screen (width > 1200px) ****************
************************************************************/
/*# sourceMappingURL=style.css.map */